<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"

        android:supportsRtl="true"
        android:theme="@style/Theme.Planer_Mobile_App"
        tools:targetApi="31">
        <activity

            android:name=".Regnewaccount"
            android:exported="true" />

        <activity
            android:name=".Registration"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:label="@string/All_tasks"
            android:name=".Listactivity"
            android:exported="true">

        </activity>

        <activity
            android:label="@string/All_tasks"
            android:name=".Add_note"
            android:exported="true">

        </activity>

        <activity
            android:label="@string/Completed_tasks"
            android:name=".Completed_note"
            android:exported="true">

        </activity>
        <activity android:name="com.example.planer_mobile_app.Del_note" />
        <activity android:name="com.example.planer_mobile_app.EditNote" />


    </application>

</manifest>